<h2> RECETAS: </h2>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Ingredientes</th>
            <th>Mas información</th> 
        </tr>
    </thead> 
    <tbody>
    <ng-container *ngFor=" let receta of listadoRecetas; let i = index;" >
        <tr>
            <td>{{receta.title}}</td>
            <td>{{receta.ingredients}}</td>
            <a (click)="openRecetaNewWindow(receta.href)"> <td >{{receta.href}}</td> </a> 
        </tr>
    </ng-container>
</tbody>
</table>
