<p>Introduce al menos 3 digitos:
    <input type="text" (keyup)="getSearchReceta()"  placeholder="Introduce la receta a buscar" [(ngModel)]="buscar" name="buscar">
</p>

<ng-container *ngIf="haBuscado">
        <ng-container *ngIf="hayRecetas">
            <lista [listadoRecetas]="listado"></lista>
        </ng-container>

        <ng-container *ngIf="!hayRecetas">
          <p> NO HAY RESULTADOS PARA LA BUSQUEDA</p>
        </ng-container>
</ng-container>

<ng-container *ngIf="!haBuscado">
      <p> Haz una busqueda</p>
</ng-container>